.global-navigation {
  height: 32px;
  width: 1260px;
}

.global-navigation .div-3 {
  align-items: flex-start;
  background-color: #00529f;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 1260px;
}

.global-navigation .menu-item {
  flex: 0 0 auto !important;
}
