.tesco-logos-tesco .tesco-bank {
  position: relative;
}

.tesco-logos-tesco .fill {
  position: absolute;
}

.tesco-logos-tesco .bank {
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .k {
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .n {
  position: absolute;
}

.tesco-logos-tesco .a {
  position: absolute;
}

.tesco-logos-tesco .b {
  left: 0;
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .tesco {
  left: 1px;
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .o {
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .c {
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .s {
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .e {
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .t {
  left: 0;
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .img {
  height: 23px;
  left: 93px;
  position: absolute;
  top: 0;
  width: 28px;
}

.tesco-logos-tesco .group {
  height: 6px;
  left: 96px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco .group-2 {
  height: 6px;
  left: 72px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco .group-3 {
  height: 6px;
  left: 48px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco .group-4 {
  height: 6px;
  left: 24px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco .group-5 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco .tesco-logo {
  position: relative;
}

.tesco-logos-tesco .fill-2 {
  left: 1px;
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .fill-3 {
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .group-6 {
  position: absolute;
}

.tesco-logos-tesco .group-7 {
  position: absolute;
}

.tesco-logos-tesco .group-8 {
  position: absolute;
}

.tesco-logos-tesco .group-9 {
  position: absolute;
}

.tesco-logos-tesco .group-10 {
  left: 0;
  position: absolute;
}

.tesco-logos-tesco .overlap-group {
  position: relative;
}

.tesco-logos-tesco .fill-4 {
  position: absolute;
}

.tesco-logos-tesco .fill-5 {
  left: 0;
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .fill-6 {
  left: 1px;
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .fill-7 {
  position: absolute;
  top: 0;
}

.tesco-logos-tesco .group-11 {
  height: 4px;
  position: absolute;
}

.tesco-logos-tesco .group-12 {
  height: 4px;
  position: absolute;
}

.tesco-logos-tesco .group-13 {
  height: 4px;
  position: absolute;
}

.tesco-logos-tesco .group-14 {
  height: 4px;
  position: absolute;
}

.tesco-logos-tesco .group-15 {
  height: 4px;
  left: 0;
  position: absolute;
}

.tesco-logos-tesco.type-bank-x-small-2 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 112px;
}

.tesco-logos-tesco.bank-native {
  height: 24px;
  width: 136px;
}

.tesco-logos-tesco.large-signpost {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  position: relative;
}

.tesco-logos-tesco.medium {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  padding: 12px 0px 2px;
  position: relative;
}

.tesco-logos-tesco.native {
  height: 24px;
  position: relative;
  width: 82px;
}

.tesco-logos-tesco.small {
  height: 26px;
  position: relative;
  width: 88px;
}

.tesco-logos-tesco.lotus-small {
  height: 26px;
  position: relative;
  width: 168px;
}

.tesco-logos-tesco.bank-large {
  height: 36px;
  width: 200px;
}

.tesco-logos-tesco.lotus-large {
  height: 36px;
  overflow: hidden;
  position: relative;
  width: 224px;
}

.tesco-logos-tesco.bank-small {
  height: 26px;
  width: 148px;
}

.tesco-logos-tesco.bank-native .tesco-bank {
  height: 23px;
  width: 135px;
}

.tesco-logos-tesco.bank-x-small .tesco-bank {
  height: 34px;
}

.tesco-logos-tesco.large-signpost .tesco-bank {
  height: 34px;
}

.tesco-logos-tesco.medium .tesco-bank {
  height: 34px;
  width: 120.29px;
}

.tesco-logos-tesco.native .tesco-bank {
  height: 34px;
}

.tesco-logos-tesco.small .tesco-bank {
  height: 34px;
}

.tesco-logos-tesco.lotus-small .tesco-bank {
  height: 34px;
}

.tesco-logos-tesco.bank-large .tesco-bank {
  height: 34px;
  width: 199px;
}

.tesco-logos-tesco.lotus-large .tesco-bank {
  height: 34px;
}

.tesco-logos-tesco.bank-small .tesco-bank {
  height: 25px;
}

.tesco-logos-tesco.bank-native .fill {
  height: 4px;
  left: 0;
  top: 19px;
  width: 82px;
}

.tesco-logos-tesco.bank-x-small .fill {
  height: 4px;
  left: 0;
  top: 0;
  width: 90px;
}

.tesco-logos-tesco.large-signpost .fill {
  height: 4px;
  left: 0;
  top: 0;
  width: 90px;
}

.tesco-logos-tesco.medium .fill {
  height: 23px;
  left: 1px;
  top: 0;
  width: 90px;
}

.tesco-logos-tesco.native .fill {
  height: 4px;
  left: 0;
  top: 0;
  width: 90px;
}

.tesco-logos-tesco.small .fill {
  height: 4px;
  left: 0;
  top: 0;
  width: 90px;
}

.tesco-logos-tesco.lotus-small .fill {
  height: 4px;
  left: 0;
  top: 0;
  width: 90px;
}

.tesco-logos-tesco.bank-large .fill {
  height: 6px;
  left: 0;
  top: 28px;
  width: 121px;
}

.tesco-logos-tesco.lotus-large .fill {
  height: 4px;
  left: 0;
  top: 0;
  width: 90px;
}

.tesco-logos-tesco.bank-small .fill {
  height: 4px;
  left: 0;
  top: 21px;
  width: 90px;
}

.tesco-logos-tesco.bank-native .bank {
  height: 15px;
  left: 92px;
  width: 43px;
}

.tesco-logos-tesco.bank-x-small .bank {
  height: 15px;
  left: 92px;
  width: 43px;
}

.tesco-logos-tesco.large-signpost .bank {
  height: 15px;
  left: 92px;
  width: 43px;
}

.tesco-logos-tesco.medium .bank {
  height: 15px;
  left: 92px;
  width: 43px;
}

.tesco-logos-tesco.native .bank {
  height: 15px;
  left: 92px;
  width: 43px;
}

.tesco-logos-tesco.small .bank {
  height: 15px;
  left: 92px;
  width: 43px;
}

.tesco-logos-tesco.lotus-small .bank {
  height: 15px;
  left: 92px;
  width: 43px;
}

.tesco-logos-tesco.bank-large .bank {
  height: 22px;
  left: 136px;
  width: 63px;
}

.tesco-logos-tesco.lotus-large .bank {
  height: 15px;
  left: 92px;
  width: 43px;
}

.tesco-logos-tesco.bank-small .bank {
  height: 17px;
  left: 101px;
  width: 47px;
}

.tesco-logos-tesco.bank-native .k {
  height: 15px;
  left: 34px;
  width: 9px;
}

.tesco-logos-tesco.bank-x-small .k {
  height: 15px;
  left: 34px;
  width: 9px;
}

.tesco-logos-tesco.large-signpost .k {
  height: 15px;
  left: 34px;
  width: 9px;
}

.tesco-logos-tesco.medium .k {
  height: 15px;
  left: 34px;
  width: 9px;
}

.tesco-logos-tesco.native .k {
  height: 15px;
  left: 34px;
  width: 9px;
}

.tesco-logos-tesco.small .k {
  height: 15px;
  left: 34px;
  width: 9px;
}

.tesco-logos-tesco.lotus-small .k {
  height: 15px;
  left: 34px;
  width: 9px;
}

.tesco-logos-tesco.bank-large .k {
  height: 22px;
  left: 51px;
  width: 13px;
}

.tesco-logos-tesco.lotus-large .k {
  height: 15px;
  left: 34px;
  width: 9px;
}

.tesco-logos-tesco.bank-small .k {
  height: 16px;
  left: 38px;
  width: 9px;
}

.tesco-logos-tesco.bank-native .n {
  height: 11px;
  left: 23px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.bank-x-small .n {
  height: 11px;
  left: 23px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.large-signpost .n {
  height: 11px;
  left: 23px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.medium .n {
  height: 11px;
  left: 23px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.native .n {
  height: 11px;
  left: 23px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.small .n {
  height: 11px;
  left: 23px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.lotus-small .n {
  height: 11px;
  left: 23px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.bank-large .n {
  height: 16px;
  left: 34px;
  top: 6px;
  width: 13px;
}

.tesco-logos-tesco.lotus-large .n {
  height: 11px;
  left: 23px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.bank-small .n {
  height: 12px;
  left: 25px;
  top: 4px;
  width: 10px;
}

.tesco-logos-tesco.bank-native .a {
  height: 11px;
  left: 11px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.bank-x-small .a {
  height: 11px;
  left: 11px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.large-signpost .a {
  height: 11px;
  left: 11px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.medium .a {
  height: 11px;
  left: 11px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.native .a {
  height: 11px;
  left: 11px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.small .a {
  height: 11px;
  left: 11px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.lotus-small .a {
  height: 11px;
  left: 11px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.bank-large .a {
  height: 17px;
  left: 17px;
  top: 6px;
  width: 13px;
}

.tesco-logos-tesco.lotus-large .a {
  height: 11px;
  left: 11px;
  top: 4px;
  width: 9px;
}

.tesco-logos-tesco.bank-small .a {
  height: 12px;
  left: 13px;
  top: 4px;
  width: 10px;
}

.tesco-logos-tesco.bank-native .b {
  height: 15px;
  width: 10px;
}

.tesco-logos-tesco.bank-x-small .b {
  height: 15px;
  width: 10px;
}

.tesco-logos-tesco.large-signpost .b {
  height: 15px;
  width: 10px;
}

.tesco-logos-tesco.medium .b {
  height: 15px;
  width: 10px;
}

.tesco-logos-tesco.native .b {
  height: 15px;
  width: 10px;
}

.tesco-logos-tesco.small .b {
  height: 15px;
  width: 10px;
}

.tesco-logos-tesco.lotus-small .b {
  height: 15px;
  width: 10px;
}

.tesco-logos-tesco.bank-large .b {
  height: 22px;
  width: 15px;
}

.tesco-logos-tesco.lotus-large .b {
  height: 15px;
  width: 10px;
}

.tesco-logos-tesco.bank-small .b {
  height: 16px;
  width: 11px;
}

.tesco-logos-tesco.bank-native .tesco {
  height: 15px;
  width: 81px;
}

.tesco-logos-tesco.bank-x-small .tesco {
  height: 15px;
  width: 81px;
}

.tesco-logos-tesco.large-signpost .tesco {
  height: 15px;
  width: 81px;
}

.tesco-logos-tesco.medium .tesco {
  height: 15px;
  width: 81px;
}

.tesco-logos-tesco.native .tesco {
  height: 15px;
  width: 81px;
}

.tesco-logos-tesco.small .tesco {
  height: 15px;
  width: 81px;
}

.tesco-logos-tesco.lotus-small .tesco {
  height: 15px;
  width: 81px;
}

.tesco-logos-tesco.bank-large .tesco {
  height: 23px;
  width: 120px;
}

.tesco-logos-tesco.lotus-large .tesco {
  height: 15px;
  width: 81px;
}

.tesco-logos-tesco.bank-small .tesco {
  height: 17px;
  width: 89px;
}

.tesco-logos-tesco.bank-native .o {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.bank-x-small .o {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.large-signpost .o {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.medium .o {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.native .o {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.small .o {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.lotus-small .o {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.bank-large .o {
  height: 23px;
  left: 92px;
  width: 28px;
}

.tesco-logos-tesco.lotus-large .o {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.bank-small .o {
  height: 17px;
  left: 68px;
  width: 21px;
}

.tesco-logos-tesco.bank-native .c {
  height: 15px;
  left: 47px;
  width: 14px;
}

.tesco-logos-tesco.bank-x-small .c {
  height: 15px;
  left: 47px;
  width: 14px;
}

.tesco-logos-tesco.large-signpost .c {
  height: 15px;
  left: 47px;
  width: 14px;
}

.tesco-logos-tesco.medium .c {
  height: 15px;
  left: 47px;
  width: 14px;
}

.tesco-logos-tesco.native .c {
  height: 15px;
  left: 47px;
  width: 14px;
}

.tesco-logos-tesco.small .c {
  height: 15px;
  left: 47px;
  width: 14px;
}

.tesco-logos-tesco.lotus-small .c {
  height: 15px;
  left: 47px;
  width: 14px;
}

.tesco-logos-tesco.bank-large .c {
  height: 23px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.lotus-large .c {
  height: 15px;
  left: 47px;
  width: 14px;
}

.tesco-logos-tesco.bank-small .c {
  height: 17px;
  left: 51px;
  width: 16px;
}

.tesco-logos-tesco.bank-native .s {
  height: 15px;
  left: 32px;
  width: 14px;
}

.tesco-logos-tesco.bank-x-small .s {
  height: 15px;
  left: 32px;
  width: 14px;
}

.tesco-logos-tesco.large-signpost .s {
  height: 15px;
  left: 32px;
  width: 14px;
}

.tesco-logos-tesco.medium .s {
  height: 15px;
  left: 32px;
  width: 14px;
}

.tesco-logos-tesco.native .s {
  height: 15px;
  left: 32px;
  width: 14px;
}

.tesco-logos-tesco.small .s {
  height: 15px;
  left: 32px;
  width: 14px;
}

.tesco-logos-tesco.lotus-small .s {
  height: 15px;
  left: 32px;
  width: 14px;
}

.tesco-logos-tesco.bank-large .s {
  height: 23px;
  left: 47px;
  width: 20px;
}

.tesco-logos-tesco.lotus-large .s {
  height: 15px;
  left: 32px;
  width: 14px;
}

.tesco-logos-tesco.bank-small .s {
  height: 17px;
  left: 35px;
  width: 15px;
}

.tesco-logos-tesco.bank-native .e {
  height: 15px;
  left: 18px;
  width: 12px;
}

.tesco-logos-tesco.bank-x-small .e {
  height: 15px;
  left: 18px;
  width: 12px;
}

.tesco-logos-tesco.large-signpost .e {
  height: 15px;
  left: 18px;
  width: 12px;
}

.tesco-logos-tesco.medium .e {
  height: 15px;
  left: 18px;
  width: 12px;
}

.tesco-logos-tesco.native .e {
  height: 15px;
  left: 18px;
  width: 12px;
}

.tesco-logos-tesco.small .e {
  height: 15px;
  left: 18px;
  width: 12px;
}

.tesco-logos-tesco.lotus-small .e {
  height: 15px;
  left: 18px;
  width: 12px;
}

.tesco-logos-tesco.bank-large .e {
  height: 22px;
  left: 27px;
  width: 18px;
}

.tesco-logos-tesco.lotus-large .e {
  height: 15px;
  left: 18px;
  width: 12px;
}

.tesco-logos-tesco.bank-small .e {
  height: 16px;
  left: 20px;
  width: 13px;
}

.tesco-logos-tesco.bank-native .t {
  height: 15px;
  width: 17px;
}

.tesco-logos-tesco.bank-x-small .t {
  height: 15px;
  width: 17px;
}

.tesco-logos-tesco.large-signpost .t {
  height: 15px;
  width: 17px;
}

.tesco-logos-tesco.medium .t {
  height: 15px;
  width: 17px;
}

.tesco-logos-tesco.native .t {
  height: 15px;
  width: 17px;
}

.tesco-logos-tesco.small .t {
  height: 15px;
  width: 17px;
}

.tesco-logos-tesco.lotus-small .t {
  height: 15px;
  width: 17px;
}

.tesco-logos-tesco.bank-large .t {
  height: 22px;
  width: 25px;
}

.tesco-logos-tesco.lotus-large .t {
  height: 15px;
  width: 17px;
}

.tesco-logos-tesco.bank-small .t {
  height: 16px;
  width: 18px;
}

.tesco-logos-tesco.bank-native .tesco_logo {
  position: absolute;
}

.tesco-logos-tesco.bank-x-small .tesco_logo {
  position: absolute;
}

.tesco-logos-tesco.large-signpost .tesco_logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 12px 0px 0px;
  position: relative;
}

.tesco-logos-tesco.medium .tesco_logo {
  position: absolute;
}

.tesco-logos-tesco.native .tesco_logo {
  position: absolute;
}

.tesco-logos-tesco.small .tesco_logo {
  position: absolute;
}

.tesco-logos-tesco.lotus-small .tesco_logo {
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 89px;
}

.tesco-logos-tesco.bank-large .tesco_logo {
  position: absolute;
}

.tesco-logos-tesco.lotus-large .tesco_logo {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3d34c3acf585c70e0fb5ddc89f792977/img/tesco-logo.svg);
  background-size: 100% 100%;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
}

.tesco-logos-tesco.bank-small .tesco_logo {
  position: absolute;
}

.tesco-logos-tesco.bank-native .tesco-logo {
  height: 25px;
}

.tesco-logos-tesco.bank-x-small .tesco-logo {
  height: 25px;
}

.tesco-logos-tesco.large-signpost .tesco-logo {
  height: 34.14px;
  width: 120.29px;
}

.tesco-logos-tesco.medium .tesco-logo {
  height: 25px;
}

.tesco-logos-tesco.native .tesco-logo {
  height: 25px;
}

.tesco-logos-tesco.small .tesco-logo {
  height: 25px;
}

.tesco-logos-tesco.lotus-small .tesco-logo {
  height: 25px;
}

.tesco-logos-tesco.bank-large .tesco-logo {
  height: 25px;
}

.tesco-logos-tesco.lotus-large .tesco-logo {
  height: 25px;
}

.tesco-logos-tesco.bank-small .tesco-logo {
  height: 25px;
}

.tesco-logos-tesco.bank-native .fill-2 {
  height: 17px;
  width: 67px;
}

.tesco-logos-tesco.bank-x-small .fill-2 {
  height: 17px;
  width: 67px;
}

.tesco-logos-tesco.large-signpost .fill-2 {
  height: 23px;
  width: 90px;
}

.tesco-logos-tesco.medium .fill-2 {
  height: 17px;
  width: 67px;
}

.tesco-logos-tesco.native .fill-2 {
  height: 17px;
  width: 67px;
}

.tesco-logos-tesco.small .fill-2 {
  height: 17px;
  width: 67px;
}

.tesco-logos-tesco.lotus-small .fill-2 {
  height: 17px;
  width: 67px;
}

.tesco-logos-tesco.bank-large .fill-2 {
  height: 17px;
  width: 67px;
}

.tesco-logos-tesco.lotus-large .fill-2 {
  height: 17px;
  width: 67px;
}

.tesco-logos-tesco.bank-small .fill-2 {
  height: 17px;
  width: 67px;
}

.tesco-logos-tesco.bank-native .fill-3 {
  height: 17px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.bank-x-small .fill-3 {
  height: 17px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.large-signpost .fill-3 {
  height: 23px;
  left: 93px;
  width: 28px;
}

.tesco-logos-tesco.medium .fill-3 {
  height: 17px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.native .fill-3 {
  height: 17px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.small .fill-3 {
  height: 17px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.lotus-small .fill-3 {
  height: 17px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.bank-large .fill-3 {
  height: 17px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.lotus-large .fill-3 {
  height: 17px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.bank-small .fill-3 {
  height: 17px;
  left: 69px;
  width: 21px;
}

.tesco-logos-tesco.bank-native .group-6 {
  height: 4px;
  left: 71px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-x-small .group-6 {
  height: 4px;
  left: 71px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.large-signpost .group-6 {
  height: 6px;
  left: 96px;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco.medium .group-6 {
  height: 4px;
  left: 71px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.native .group-6 {
  height: 4px;
  left: 71px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.small .group-6 {
  height: 4px;
  left: 71px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-small .group-6 {
  height: 4px;
  left: 71px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-large .group-6 {
  height: 4px;
  left: 71px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-large .group-6 {
  height: 4px;
  left: 71px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-small .group-6 {
  height: 4px;
  left: 71px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-native .group-7 {
  height: 4px;
  left: 54px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-x-small .group-7 {
  height: 4px;
  left: 54px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.large-signpost .group-7 {
  height: 6px;
  left: 72px;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco.medium .group-7 {
  height: 4px;
  left: 54px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.native .group-7 {
  height: 4px;
  left: 54px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.small .group-7 {
  height: 4px;
  left: 54px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-small .group-7 {
  height: 4px;
  left: 54px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-large .group-7 {
  height: 4px;
  left: 54px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-large .group-7 {
  height: 4px;
  left: 54px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-small .group-7 {
  height: 4px;
  left: 54px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-native .group-8 {
  height: 4px;
  left: 36px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-x-small .group-8 {
  height: 4px;
  left: 36px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.large-signpost .group-8 {
  height: 6px;
  left: 48px;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco.medium .group-8 {
  height: 4px;
  left: 36px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.native .group-8 {
  height: 4px;
  left: 36px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.small .group-8 {
  height: 4px;
  left: 36px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-small .group-8 {
  height: 4px;
  left: 36px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-large .group-8 {
  height: 4px;
  left: 36px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-large .group-8 {
  height: 4px;
  left: 36px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-small .group-8 {
  height: 4px;
  left: 36px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-native .group-9 {
  height: 4px;
  left: 18px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-x-small .group-9 {
  height: 4px;
  left: 18px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.large-signpost .group-9 {
  height: 6px;
  left: 24px;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco.medium .group-9 {
  height: 4px;
  left: 18px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.native .group-9 {
  height: 4px;
  left: 18px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.small .group-9 {
  height: 4px;
  left: 18px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-small .group-9 {
  height: 4px;
  left: 18px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-large .group-9 {
  height: 4px;
  left: 18px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-large .group-9 {
  height: 4px;
  left: 18px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-small .group-9 {
  height: 4px;
  left: 18px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-native .group-10 {
  height: 4px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-x-small .group-10 {
  height: 4px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.large-signpost .group-10 {
  height: 6px;
  top: 28px;
  width: 24px;
}

.tesco-logos-tesco.medium .group-10 {
  height: 4px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.native .group-10 {
  height: 4px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.small .group-10 {
  height: 4px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-small .group-10 {
  height: 4px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-large .group-10 {
  height: 4px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.lotus-large .group-10 {
  height: 4px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-small .group-10 {
  height: 4px;
  top: 21px;
  width: 18px;
}

.tesco-logos-tesco.bank-native .signpost {
  position: absolute;
}

.tesco-logos-tesco.bank-x-small .signpost {
  position: absolute;
}

.tesco-logos-tesco.large-signpost .signpost {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
}

.tesco-logos-tesco.medium .signpost {
  position: absolute;
}

.tesco-logos-tesco.native .signpost {
  position: absolute;
}

.tesco-logos-tesco.small .signpost {
  position: absolute;
}

.tesco-logos-tesco.lotus-small .signpost {
  height: 17px;
  left: 99px;
  position: absolute;
  top: 0;
  width: 68px;
}

.tesco-logos-tesco.bank-large .signpost {
  position: absolute;
}

.tesco-logos-tesco.lotus-large .signpost {
  height: 23px;
  left: 133px;
  position: absolute;
  top: 0;
  width: 91px;
}

.tesco-logos-tesco.bank-small .signpost {
  position: absolute;
}

.tesco-logos-tesco.large-signpost .group-16 {
  color: #00529f;
  font-family: "TESCO Modern-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.tesco-logos-tesco.lotus-small .group-16 {
  height: 17px;
}

.tesco-logos-tesco.lotus-large .group-16 {
  height: 23px;
}

.tesco-logos-tesco.bank-native .overlap-group {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.bank-x-small .overlap-group {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.large-signpost .overlap-group {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.medium .overlap-group {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.native .overlap-group {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.small .overlap-group {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.lotus-small .overlap-group {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.bank-large .overlap-group {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.lotus-large .overlap-group {
  height: 23px;
  width: 91px;
}

.tesco-logos-tesco.bank-small .overlap-group {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.bank-native .fill-4 {
  height: 14px;
  left: 14px;
  top: 4px;
  width: 15px;
}

.tesco-logos-tesco.bank-x-small .fill-4 {
  height: 14px;
  left: 14px;
  top: 4px;
  width: 15px;
}

.tesco-logos-tesco.large-signpost .fill-4 {
  height: 14px;
  left: 14px;
  top: 4px;
  width: 15px;
}

.tesco-logos-tesco.medium .fill-4 {
  height: 14px;
  left: 14px;
  top: 4px;
  width: 15px;
}

.tesco-logos-tesco.native .fill-4 {
  height: 14px;
  left: 14px;
  top: 4px;
  width: 15px;
}

.tesco-logos-tesco.small .fill-4 {
  height: 14px;
  left: 14px;
  top: 4px;
  width: 15px;
}

.tesco-logos-tesco.lotus-small .fill-4 {
  height: 14px;
  left: 14px;
  top: 4px;
  width: 15px;
}

.tesco-logos-tesco.bank-large .fill-4 {
  height: 14px;
  left: 14px;
  top: 4px;
  width: 15px;
}

.tesco-logos-tesco.lotus-large .fill-4 {
  height: 18px;
  left: 19px;
  top: 5px;
  width: 20px;
}

.tesco-logos-tesco.bank-small .fill-4 {
  height: 14px;
  left: 14px;
  top: 4px;
  width: 15px;
}

.tesco-logos-tesco.bank-native .fill-5 {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.bank-x-small .fill-5 {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.large-signpost .fill-5 {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.medium .fill-5 {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.native .fill-5 {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.small .fill-5 {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.lotus-small .fill-5 {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.bank-large .fill-5 {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.lotus-large .fill-5 {
  height: 23px;
  width: 91px;
}

.tesco-logos-tesco.bank-small .fill-5 {
  height: 17px;
  width: 68px;
}

.tesco-logos-tesco.bank-native .fill-6 {
  height: 15px;
  width: 61px;
}

.tesco-logos-tesco.bank-x-small .fill-6 {
  height: 15px;
  width: 61px;
}

.tesco-logos-tesco.large-signpost .fill-6 {
  height: 15px;
  width: 61px;
}

.tesco-logos-tesco.medium .fill-6 {
  height: 15px;
  width: 61px;
}

.tesco-logos-tesco.native .fill-6 {
  height: 15px;
  width: 61px;
}

.tesco-logos-tesco.small .fill-6 {
  height: 17px;
  width: 65px;
}

.tesco-logos-tesco.lotus-small .fill-6 {
  height: 15px;
  width: 61px;
}

.tesco-logos-tesco.bank-large .fill-6 {
  height: 15px;
  width: 61px;
}

.tesco-logos-tesco.lotus-large .fill-6 {
  height: 15px;
  width: 61px;
}

.tesco-logos-tesco.bank-small .fill-6 {
  height: 15px;
  width: 61px;
}

.tesco-logos-tesco.bank-native .fill-7 {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.bank-x-small .fill-7 {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.large-signpost .fill-7 {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.medium .fill-7 {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.native .fill-7 {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.small .fill-7 {
  height: 17px;
  left: 67px;
  width: 20px;
}

.tesco-logos-tesco.lotus-small .fill-7 {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.bank-large .fill-7 {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.lotus-large .fill-7 {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.bank-small .fill-7 {
  height: 15px;
  left: 62px;
  width: 19px;
}

.tesco-logos-tesco.bank-native .group-11 {
  left: 65px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-x-small .group-11 {
  left: 65px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.large-signpost .group-11 {
  left: 65px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.medium .group-11 {
  left: 65px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.native .group-11 {
  left: 65px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.small .group-11 {
  left: 69px;
  top: 21px;
  width: 17px;
}

.tesco-logos-tesco.lotus-small .group-11 {
  left: 65px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-large .group-11 {
  left: 65px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.lotus-large .group-11 {
  left: 65px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-small .group-11 {
  left: 65px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-native .group-12 {
  left: 49px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-x-small .group-12 {
  left: 49px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.large-signpost .group-12 {
  left: 49px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.medium .group-12 {
  left: 49px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.native .group-12 {
  left: 49px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.small .group-12 {
  left: 52px;
  top: 21px;
  width: 17px;
}

.tesco-logos-tesco.lotus-small .group-12 {
  left: 49px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-large .group-12 {
  left: 49px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.lotus-large .group-12 {
  left: 49px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-small .group-12 {
  left: 49px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-native .group-13 {
  left: 32px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-x-small .group-13 {
  left: 32px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.large-signpost .group-13 {
  left: 32px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.medium .group-13 {
  left: 32px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.native .group-13 {
  left: 32px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.small .group-13 {
  left: 35px;
  top: 21px;
  width: 17px;
}

.tesco-logos-tesco.lotus-small .group-13 {
  left: 32px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-large .group-13 {
  left: 32px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.lotus-large .group-13 {
  left: 32px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-small .group-13 {
  left: 32px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-native .group-14 {
  left: 16px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-x-small .group-14 {
  left: 16px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.large-signpost .group-14 {
  left: 16px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.medium .group-14 {
  left: 16px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.native .group-14 {
  left: 16px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.small .group-14 {
  left: 17px;
  top: 21px;
  width: 17px;
}

.tesco-logos-tesco.lotus-small .group-14 {
  left: 16px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-large .group-14 {
  left: 16px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.lotus-large .group-14 {
  left: 16px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-small .group-14 {
  left: 16px;
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-native .group-15 {
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-x-small .group-15 {
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.large-signpost .group-15 {
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.medium .group-15 {
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.native .group-15 {
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.small .group-15 {
  top: 21px;
  width: 17px;
}

.tesco-logos-tesco.lotus-small .group-15 {
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-large .group-15 {
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.lotus-large .group-15 {
  top: 19px;
  width: 16px;
}

.tesco-logos-tesco.bank-small .group-15 {
  top: 19px;
  width: 16px;
}
