.global-header-elements-search-with-dropdown-756px-and-above {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
  width: 649px;
}

.global-header-elements-search-with-dropdown-756px-and-above .search-with-dropdown-instance {
  flex: 1 !important;
  flex-grow: 1 !important;
  width: unset !important;
}

.global-header-elements-search-with-dropdown-756px-and-above .design-component-instance-node {
  background-color: unset !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 256px !important;
  z-index: 1 !important;
}

.global-header-elements-search-with-dropdown-756px-and-above .divider-3 {
  background-color: #cccccc;
  height: 40px;
  position: relative;
  width: 1px;
}

.global-header-elements-search-with-dropdown-756px-and-above .basket {
  flex: 0 0 auto !important;
}
