.atoms-dropdow-icons {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.atoms-dropdow-icons .web-icons-expand-24px-default {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}
