.screen-and-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  position: relative;
}

.screen-and-wrapper .left-container {
  align-items: flex-start;
  flex: 0 0 auto;
  position: relative;
}

.screen-and-wrapper .local-navigation-item {
  flex: 0 0 auto !important;
}

.screen-and-wrapper .left-container-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.screen-and-wrapper .right-container {
  flex: 0 0 auto;
  position: relative;
}

.screen-and-wrapper .right-container-2 {
  position: relative;
}

.screen-and-wrapper .flyout {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .line-top {
  align-self: stretch;
  height: 2px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .label-close {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .enhanced-standalone {
  align-items: flex-start;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  opacity: 0;
  overflow: hidden;
  position: relative;
}

.screen-and-wrapper .web-icons-backward-2 {
  height: 24px;
  margin-bottom: -3751px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .text-i {
  color: #00529f;
  font-family: "TESCO Modern-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-and-wrapper .element-non-standard {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 98px;
}

.screen-and-wrapper .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 4px 10px 12px;
  position: relative;
}

.screen-and-wrapper .label-approx {
  color: #00529f;
  font-family: "TESCO Modern-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.screen-and-wrapper .element-non-standard-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 8px 12px 8px 4px;
  position: relative;
}

.screen-and-wrapper .element-web-icons-close-wrapper {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #00529f;
  border-radius: 20px;
  height: 24px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .element-web-icons-close {
  height: 24px;
  left: -2px;
  position: relative;
  top: -2px;
}

.screen-and-wrapper .union-6 {
  height: 11px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 11px;
}

.screen-and-wrapper .class-31 {
  align-self: stretch !important;
  height: 1px !important;
  position: relative !important;
  width: 100% !important;
}

.screen-and-wrapper .divider-instance {
  align-self: stretch !important;
  position: relative !important;
  width: 100% !important;
}

.screen-and-wrapper .div-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .label-close-2 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .levels {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .level {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .text-icon {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 8px 8px 8px 12px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .link-container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  padding: 2px 0px 0px;
  position: relative;
}

.screen-and-wrapper .link-i {
  color: #00529f;
  flex: 1;
  font-family: "TESCO Modern-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.screen-and-wrapper .icon-2 {
  height: 24px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .button-container-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-16 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-16 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-17 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .spacer {
  align-self: stretch;
  height: 40px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .line-bottom {
  align-self: stretch;
  background-color: #007eb3;
  height: 4px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .levels-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .level-2 {
  align-items: flex-start;
  background-color: #f6f6f6;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}

.screen-and-wrapper .flyout-cells-17 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-18 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-18 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #007eb3;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-19 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .link-2 {
  color: #ffffff;
  flex: 1;
  font-family: "TESCO Modern-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.screen-and-wrapper .flyout-cells-19 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-20 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-20 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-21 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-21 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-22 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-22 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-23 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-23 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-24 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-24 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-25 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-25 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-26 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-26 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-28 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-28 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-29 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-29 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-30 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-30 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-31 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-31 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-32 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-32 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-33 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-33 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-34 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-34 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-35 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-35 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-36 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .level-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.screen-and-wrapper .level-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #f6f6f6;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 12px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-36 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-37 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .crossplatform-wrapper {
  align-self: stretch;
  height: 1px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .crossplatform-px {
  background-color: #e5e5e5 !important;
  width: 354px !important;
}

.screen-and-wrapper .button-container-38 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-37 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-39 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-38 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-40 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-39 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-41 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-40 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-42 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-41 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-43 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-42 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-44 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-43 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-45 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-44 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-46 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-45 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-47 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-46 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-48 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-47 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-49 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-48 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-50 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-49 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-51 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-50 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-52 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-51 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-53 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-52 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-54 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-53 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-55 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .level-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}

.screen-and-wrapper .flyout-cells-54 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-56 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-55 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-57 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .link-3 {
  flex: 1;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.screen-and-wrapper .flyout-cells-56 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-58 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-57 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-59 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-58 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-60 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-59 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-61 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-60 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-62 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-61 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-63 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-62 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-64 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-63 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-65 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-64 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-66 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-65 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-67 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-66 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-68 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-67 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-69 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .link-4 {
  flex: 1;
  font-family: "TESCO Modern-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
}

.screen-and-wrapper .flyout-cells-68 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-70 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-69 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-71 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-70 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-72 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-71 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-73 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-72 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-74 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .flyout-cells-73 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-75 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-3 {
  height: 24px;
  margin-bottom: -3717.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-74 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-76 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-4 {
  height: 24px;
  margin-bottom: -3676.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-75 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-77 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-5 {
  height: 24px;
  margin-bottom: -3635.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-76 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-78 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-6 {
  height: 24px;
  margin-bottom: -3594.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-77 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-79 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-7 {
  height: 24px;
  margin-bottom: -3553.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-78 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-80 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-8 {
  height: 24px;
  margin-bottom: -3512.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-79 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-81 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-9 {
  height: 24px;
  margin-bottom: -3471.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-80 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-82 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-10 {
  height: 24px;
  margin-bottom: -3430.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-81 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-83 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-11 {
  height: 24px;
  margin-bottom: -3389.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-82 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-84 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-12 {
  height: 24px;
  margin-bottom: -3348.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-83 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-85 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-13 {
  height: 24px;
  margin-bottom: -3307.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-84 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-86 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-14 {
  height: 24px;
  margin-bottom: -3266.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-85 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-87 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-15 {
  height: 24px;
  margin-bottom: -3225.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-86 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-88 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-16 {
  height: 24px;
  margin-bottom: -3184.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-87 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-89 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-17 {
  height: 24px;
  margin-bottom: -3143.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-88 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-90 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-18 {
  height: 24px;
  margin-bottom: -3102.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-89 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-91 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-19 {
  height: 24px;
  margin-bottom: -3061.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-90 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-92 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-20 {
  height: 24px;
  margin-bottom: -3020.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .flyout-cells-91 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .button-container-93 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-and-wrapper .icon-21 {
  height: 24px;
  margin-bottom: -2979.78px;
  margin-right: -1699px;
  position: relative;
  width: 24px;
}

.screen-and-wrapper .bottommodal {
  align-self: stretch;
  background-color: #000000b2;
  position: relative;
  width: 100%;
}

.screen-and-wrapper.fly-out-false {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #cccccc;
  justify-content: space-between;
  padding: 0px 8px 1px;
}

.screen-and-wrapper.fly-out-true {
  flex-direction: column;
  padding: 0px 0px 1px;
}

.screen-and-wrapper.one-thousand-and-eight-px-and-above {
  width: 1260px;
}

.screen-and-wrapper.seven-hundred-and-fifty-five-px-and-505px {
  width: 755px;
}

.screen-and-wrapper.seven-hundred-and-fifty-six-px-and-1007px {
  width: 756px;
}

.screen-and-wrapper.fly-out-true.five-hundred-and-four-px-and-below {
  width: 504px;
}

.screen-and-wrapper.fly-out-false.five-hundred-and-four-px-and-below {
  width: 506px;
}

.screen-and-wrapper .screen-one-thousand-and-eight-px-and-above.truncate-active-false {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
}

.screen-and-wrapper .screen-0-five-hundred-and-four-px-and-below {
  flex: 0 0 auto;
}

.screen-and-wrapper .fly-out-1-false {
  flex: 0 0 auto;
}

.screen-and-wrapper .fly-out-1-true {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.screen-and-wrapper .screen-0-seven-hundred-and-fifty-five-px-and-505px {
  flex: 0 0 auto;
}

.screen-and-wrapper .screen-0-seven-hundred-and-fifty-six-px-and-1007px {
  flex: 0 0 auto;
}

.screen-and-wrapper .screen-0-one-thousand-and-eight-px-and-above.fly-out-1-true {
  height: 1033px;
}

.screen-and-wrapper .screen-0-one-thousand-and-eight-px-and-above.truncate-active-0-false {
  align-items: flex-start;
}

.screen-and-wrapper .fly-out-1-false.screen-0-one-thousand-and-eight-px-and-above.truncate-active-0-false {
  display: inline-flex;
  gap: 16px;
}

.screen-and-wrapper.fly-out-false .left-container {
  display: inline-flex;
  gap: 16px;
}

.screen-and-wrapper.fly-out-true .left-container {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  width: 100%;
}

.screen-and-wrapper .right-container-2.screen-0-one-thousand-and-eight-px-and-above .flyout {
  background-color: #ffffff;
}

.screen-and-wrapper .right-container-2.screen-0-seven-hundred-and-fifty-five-px-and-505px .flyout {
  background-color: #ffffff;
}

.screen-and-wrapper .right-container-2.screen-0-seven-hundred-and-fifty-six-px-and-1007px .flyout {
  background-color: #ffffff;
}

.screen-and-wrapper .right-container-2.screen-0-one-thousand-and-eight-px-and-above .label-close {
  padding: 0px 0px 0px 12px;
}

.screen-and-wrapper .right-container-2.screen-0-one-thousand-and-eight-px-and-above .flyout-cells-55 {
  background-color: #007eb3;
}

.screen-and-wrapper .right-container-2.screen-0-one-thousand-and-eight-px-and-above .link-3 {
  color: #ffffff;
  font-family: "TESCO Modern-Bold", Helvetica;
  font-weight: 700;
}

.screen-and-wrapper .right-container-2.screen-0-seven-hundred-and-fifty-five-px-and-505px .link-3 {
  color: #00529f;
  font-family: "TESCO Modern-Regular", Helvetica;
  font-weight: 400;
}

.screen-and-wrapper .right-container-2.screen-0-seven-hundred-and-fifty-six-px-and-1007px .link-3 {
  color: #00529f;
  font-family: "TESCO Modern-Regular", Helvetica;
  font-weight: 400;
}

.screen-and-wrapper .right-container-2.screen-0-one-thousand-and-eight-px-and-above .flyout-cells-67 {
  background-color: #f6f6f6;
}

.screen-and-wrapper .right-container-2.screen-0-one-thousand-and-eight-px-and-above .link-4 {
  color: #007eb3;
}

.screen-and-wrapper .right-container-2.screen-0-seven-hundred-and-fifty-five-px-and-505px .link-4 {
  color: #00529f;
}

.screen-and-wrapper .right-container-2.screen-0-seven-hundred-and-fifty-six-px-and-1007px .link-4 {
  color: #00529f;
}

.screen-and-wrapper .right-container-2.screen-0-five-hundred-and-four-px-and-below .bottommodal {
  height: 1px;
}

.screen-and-wrapper .right-container-2.screen-0-one-thousand-and-eight-px-and-above .bottommodal {
  flex: 1;
  flex-grow: 1;
}

.screen-and-wrapper .right-container-2.screen-0-seven-hundred-and-fifty-five-px-and-505px .bottommodal {
  height: 1px;
}

.screen-and-wrapper .right-container-2.screen-0-seven-hundred-and-fifty-six-px-and-1007px .bottommodal {
  height: 1px;
}
